<div class="app-root">
  <div class="button-container" *ngIf="!showSideNav">
    <button mat-fab color="warn" (click)="showSideNav = !showSideNav">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="side-nav" *ngIf="showSideNav">
    <button mat-raised-button color="primary" (click)="navigateTo('/')">Products</button>
    <button mat-raised-button color="primary" (click)="navigateTo('/add-product')">Add Product</button>
    <button mat-raised-button color="primary" (click)="navigateTo('/modify-product')">Modify Product</button>
    <button mat-raised-button color="primary" (click)="navigateTo('/delete-product')">Delete Product</button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>